body {
    background-color: #121212;
    min-height: 10rem;
    width: 15rem;
    padding: 4rem 2rem;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

a {
    color: rgba(255, 255, 255, 0.8);
    background-color: cornflowerblue;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
}

p {
    font-size: 1rem;
}